@font-face {
  font-family: 'tick';
  src: url('../font/tick.eot?47901366');
  src: url('../font/tick.eot?47901366#iefix') format('embedded-opentype'),
       url('../font/tick.woff2?47901366') format('woff2'),
       url('../font/tick.woff?47901366') format('woff'),
       url('../font/tick.ttf?47901366') format('truetype'),
       url('../font/tick.svg?47901366#tick') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tick';
    src: url('../font/tick.svg?47901366#tick') format('svg');
  }
}
*/
[class^="icon-check"]:before, [class*="icon-check"]:before {
  font-family: "tick";
  font-style: normal;
  font-weight: normal;
  speak: never;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

}

.icon-check:before {
   content: '\e800'; } /* '' */
